{% extends "/shared/base.jinja2" %}
{% block title %}Login{% endblock %}
{% block main %}
<form class="form-group" action="{{ url_for('login.login') }}" method="post">
    <img class="img-branding" src="/static/icon-256.png" alt="web-portal icon">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Login</button>
</form>
{% endblock %}
