{% extends "base.jinja2" %}
{% block title %}Portal{% endblock %}
{% block main %}
{% for group in widgets_grouped %}
<div class="panel">
    <h3>{{ group.group_prefix }}<h3>
    <div>
    {% for widget in group.widgets %}
        <a href="{{ widget.url }}">{{ widget.prefix }}</a>
    {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}
