{% for link in links %}
<a class="{{ link.color_name }}" href="{{ link.url }}" {%- if config.plugin__web_links.OPEN_TO_NEW_TAB -%}target="_blank"
    {%- endif -%} rel="noopener noreferrer">{{ link.name }}</a>
{% endfor %}
