<form action="{{ url_for('web_links.post_widget_add_link', widget_id=dash_widget_id, back_to=back_to_url) }}" method="post">
    <h3>Add Link</h3>
    <label for="web_links-widget-link">Link</label>
    <select name="link-id" id="web_links-widget-link-id">
        {% for link in links %}
        <option value="{{ link.id }}">{{ link.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Add</button>
</form>
<h3>Links</h3>
<ul>
    {% for link in added_links %}
    <li>{{ link.name }}, {{ link.url }}</li>
    {% endfor %}
</ul>
