{% for link in links %}
<a class="{{ link.color_name }}{% if widget_config.is_compact %} compact{% endif %}" href="{{ link.url }}" {%- if config.plugin__core.OPEN_TO_NEW_TAB -%}target="_blank" {%-
    endif -%} rel="noopener noreferrer" aria-label="{{ link.name }}">
    {%- if link.icon_name -%}
    <img src="{{ url_for('core.get_icon', icon_name=link.icon_name) }}" alt="icon for '{{ link.name }}' link">
    {%- endif -%}
    <span>{{ link.name }}</span>
</a>
{% endfor %}
