{% from "/shared/macros.jinja" import feather_img %}
<form class="core__search-form" action="{{ engine.url }}" method="{{ engine.method.value }}" {% if
    config.plugin__core.OPEN_TO_NEW_TAB %}target="_blank" {% endif %}>
    <input type="text" name="{{ engine.query_param }}" placeholder="enter search term...">
    <button class="icon-bnt" type="submit" title="Search {{ engine.name }}">{{ feather_img('search') }}</button>
</form>
