{% extends "/shared/base.jinja" %}
{% block title %}Core-Extras{% endblock %}
{% block main %}
<section class="panel">
    <h2>Web Portal Core-Extras</h2>
    <a class="icon-bnt" href="{{ url_for('portal.get_plugins_index') }}">{{ macros.feather_img('arrow-left') }} Back</a>
</section>

<section class="panel">
    <h2>Welcome</h2>
    <p>Welcome to Core-Extras, a built-in plugin to complement the Core plugin for Web-Portal.</p>
</section>

{% endblock %}
