{% for group in widgets_grouped %}
<div class="panel">
    {% if config.SHOW_PANEL_HEADERS %}
    <h3>{{ group.group_prefix }}</h3>
    {% endif %}
    <div>
        {% for widget in group.widgets %}
        <a class="{{ widget.color_name }}" href="{{ widget.url }}" target="_blank" rel="noopener noreferrer">{{
            widget.prefix }}</a>
        {% endfor %}
    </div>
</div>
{% endfor %}
