{% extends "/shared/base.jinja2" %}
{% block title %}Dashboard Edit{% endblock %}
{% block main %}
<a class="bnt" href="{{ url_for('.get_restore_defaults') }}">Restore To Default</a>
<form action="{{ url_for('.post_add_widget') }}" method="post">
    <h2>Add Widget</h2>
    <label for="widget-name">Name</label>
    <input type="text" name="name" id="widget-name" required placeholder="Name..." maxlength="128">
    <label for="widget-widget-id">Widget</label>
    <select name="widget-id" id="widget-widget-id">
        {% for widget in widgets %}
        <option value="{{ widget.id }}">{{ widget.internal_name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Add</button>
</form>

<div>
    <h2>Placed Widgets</h2>
    {% for widget in placed_widgets %}
    <div>
        <h3>{{ widget.name }}, {{ widget.widget.internal_name }}</h3>
        {% set render_func=get_loaded_plugin(widget.widget.plugin.internal_name).module.render_widget_edit %}
        {% set widget_name=deconstruct_widget_name(widget.widget.plugin.internal_name, widget.widget.internal_name) %}
        {% set back_url=url_for('.get_edit_dashboard') %}
        <div>
            {{ render_func(widget_name, widget.id, widget.config, back_url) | safe }}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
