{% extends "/shared/base.jinja2" %}
{% block title %}Portal{% endblock %}
{% block main %}
{% if config.SEARCH_URL != None %}
<form class="search-box" action="{{ config.SEARCH_URL }}" method="get">
    <input type="text" name="q" placeholder="search..." required autofocus>
    <button type="submit" title="Search">{{ macros.feather_img('search') }}</button>
</form>
{% endif %}

<div id="widgets">
    {% for widget in rendered_widgets %}
    <div class="widget-outer {{ widget[0].widget.internal_name }}" id="widget-{{ widget[0].id }}">
        <h2 class="widget-heading {{ widget[0].widget.internal_name }}">{{ widget[0].name }}</h2>
        <div class="widget-inner {{ widget[0].widget.internal_name }}">
            {{ widget[1]|safe }}
        </div>
    </div>
    {% endfor %}
</div>

{% if is_personal_dash %}
<a class="bnt" href="{{ url_for('.get_edit_dashboard') }}">Edit</a>
{% elif current_user.is_authenticated %}
<a class="bnt" href="{{ url_for('.get_edit_dashboard') }}">Create Custom</a>
{% endif %}

{% endblock %}
