.no-color {
    background-color: var(--bg-ne);
}

.white {
    background-color: #e4e4e4;
}

.grey {
    background-color: #7c7c7c;
}

.grey-black {
    background-color: #292929;
}

.black {
    background-color: #000000;
}

.red {
    background-color: #c24141;
}

.red-alt {
    background-color: #c24141;
}

.orange {
    background-color: #b96f32;
}

.orange-alt {
    background-color: #ad641b;
}

.yellow {
    background-color: #8b971e;
}

.yellow-alt {
    background-color: #c1c10b;
}

.green {
    background-color: #3c9630;
}

.green-alt {
    background-color: #00b500;
}

.green-blue {
    background-color: #309663;
}

.green-blue-alt {
    background-color: #00af57;
}

.cyan {
    background-color: #0e7b9d;
}

.cyan-alt {
    background-color: #00a6cc;
}

.blue {
    background-color: #4175b9;
}

.blue-alt {
    background-color: #003aba;
}

.purple {
    background-color: #5d2aaf;
}

.purple-alt {
    background-color: #6700cf;
}

.pink {
    background-color: #aa2aaf;
}

.pink-alt {
    background-color: #da00e1;
}

.pink-red {
    background-color: #af2a7c;
}

.pink-red-alt {
    background-color: #dc0188;
}
