:root {
    --font-dark-no-adjust: black;
    --font-dark: var(--font-dark-no-adjust);
    --font-light: #f0f0f0;
    --bg-bnt: #adadad;
    --bg-body: #9299a5;
    --bg-sub-body: #8c93a0;
    --bg-panel: #848a94;
    --font-family-title: 'Roboto', sans-serif;
    --font-family-main: 'Open Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-dark: var(--font-light);
        --font-light: #bcbcbc;
        --bg-bnt: #003d4b;
        --bg-body: #002b36;
        --bg-sub-body: #073540;
        --bg-panel: #083b47;
    }
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: var(--bg-body);
}

body::-webkit-scrollbar-thumb {
    background-color: #4b4b4b;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #353535;
}

body::-webkit-scrollbar-thumb:active {
    background-color: black;
}

footer,
header,
input,
select,
button,
label,
div {
    color: var(--font-dark);
    font-family: var(--font-family-main);
}

h1,
h2,
h3 {
    font-family: var(--font-family-title);
    color: var(--font-dark);
}

h1 {
    font-size: 2em;
}

body {
    background-color: var(--bg-body);
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

header {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

header h1 {
    margin-right: auto;
}

header nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

header nav a,
header nav button {
    text-decoration: none;
    color: var(--font-dark);
    padding: 10px 20px;
    background-color: var(--bg-bnt);
    border-radius: 10px;
    border-style: none;
}

header nav a:hover,
header nav button:hover {
    transition-duration: 400ms;
    background-color: black;
    color: var(--font-light);
    cursor: pointer;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

form h3 {
    text-align: center;
}

form input,
form select,
button,
.bnt {
    padding: 4px;
    border-radius: 6px;
    border-style: none;
    margin: 2px;
    background-color: var(--bg-panel);
}

button,
.bnt {
    color: var(--font-dark);
    text-decoration: none;
    background-color: var(--bg-bnt);
}

button:hover,
.bnt:hover {
    cursor: pointer;
    transition-duration: 400ms;
    background-color: black;
    color: var(--font-light);
}

footer {
    text-align: center;
    margin-top: 100px;
    border-top: var(--font-light) solid;
    padding-top: 10px;
}

footer a {
    color: #4e9df8;
    text-decoration: none;
}

.feather-icon {
    width: 24px;
    height: 18px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.panel {
    border-radius: 6px;
    background-color: var(--bg-panel);
    padding: 10px;
    margin-bottom: 8px;
}

.panel h3 {
    text-align: center;
}

.panel div {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 10px;
}

.panel div a {
    border-radius: 10px;
    padding: 3rem;
    text-decoration: none;
    font-family: var(--font-family-title);
    font-size: 1.5em;
    text-align: center;
    box-shadow: 4px 4px 0px black;
}

.panel.compact div a {
    padding: 1rem 3rem;
}

.panel div a:hover {
    transition-duration: 400ms;
    background-color: black;
    color: var(--font-light);
}

.form-group {
    border-radius: 10px;
    background-color: var(--bg-sub-body);
    width: 50%;
    margin: auto;
    padding: 10px;
    margin-bottom: 15px;
}

.form-group h2 {
    text-align: center;
}

.search-box {
    max-width: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.search-box input {
    width: 50%;
}

.search-box input:focus {
    outline: solid black 2px;
}

/* flash styles */
.flashes {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.flashes div {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}

.flashes div span {
    margin-left: 15px;
    color: var(--font-light);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.flashes div span:hover {
    color: black;
}

.img-branding {
    margin: auto;
    max-width: 200px;
    width: -webkit-fill-available;
}

/* colors for widgets */
.white {
    background-color: #e4e4e4;
    color: var(--font-dark-no-adjust);
}

.grey {
    background-color: #7c7c7c;
    color: var(--font-light);
}

.grey-black {
    background-color: #292929;
    color: var(--font-light);
}

.black {
    background-color: #000000;
    color: var(--font-light);
}

.red {
    background-color: #c24141;
    color: var(--font-light);
}

.orange {
    background-color: #b96f32;
    color: var(--font-light);
}

.yellow {
    background-color: #8b971e;
    color: var(--font-light);
}

.green {
    background-color: #3c9630;
    color: var(--font-light);
}

.green-blue {
    background-color: #309663;
    color: var(--font-light);
}

.cyan {
    background-color: #0e7b9d;
    color: var(--font-light);
}

.blue {
    background-color: #4175b9;
    color: var(--font-light);
}

.purple {
    background-color: #5d2aaf;
    color: var(--font-light);
}

.pink {
    background-color: #aa2aaf;
    color: var(--font-light);
}

.pink-red {
    background-color: #af2a7c;
    color: var(--font-light);
}

#themeToggleBnt {
    background-image: url("/static/theme-changer.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 35px;
    width: 65px;
}

#theme-picker-selector {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}

@media(max-width:640px) {
    .panel div {
        grid-template-columns: repeat(2, 200px);
    }
}
