:root {
    --font-family-title: 'Roboto', sans-serif;
    --font-family-main: 'Open Sans', sans-serif;
    --font-dark-no-adjust: black;

    --font-dark--light: var(--font-dark-no-adjust);
    --font-light--light: #f0f0f0;
    --bg-bnt--light: #adadad;
    --bg-body--light: #9299a5;
    --bg-sub-body--light: #8c93a0;
    --bg-panel--light: #848a94;

    --font-dark--dark: var(--font-light--dark);
    --font-light--dark: #bcbcbc;
    --bg-bnt--dark: #003d4b;
    --bg-body--dark: #002b36;
    --bg-sub-body--dark: #073540;
    --bg-panel--dark: #083b47;


    color-scheme: light;
    --font-dark: var(--font-dark--light);
    --font-light: var(--font-light--light);
    --bg-bnt: var(--bg-bnt--light);
    --bg-body: var(--bg-body--light);
    --bg-sub-body: var(--bg-sub-body--light);
    --bg-panel: var(--bg-panel--light);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --font-dark: var(--font-dark--dark);
        --font-light: var(--font-dark--dark);
        --bg-bnt: var(--bg-bnt--dark);
        --bg-body: var(--bg-body--dark);
        --bg-sub-body: var(--bg-sub-body--dark);
        --bg-panel: var(--bg-panel--dark);
    }
}

[data-theme=light]:root {
    color-scheme: light;
    --font-dark: var(--font-dark--light);
    --font-light: var(--font-light--light);
    --bg-bnt: var(--bg-bnt--light);
    --bg-body: var(--bg-body--light);
    --bg-sub-body: var(--bg-sub-body--light);
    --bg-panel: var(--bg-panel--light);
}

[data-theme=dark]:root {
    color-scheme: dark;
    --font-dark: var(--font-dark--dark);
    --font-light: var(--font-dark--dark);
    --bg-bnt: var(--bg-bnt--dark);
    --bg-body: var(--bg-body--dark);
    --bg-sub-body: var(--bg-sub-body--dark);
    --bg-panel: var(--bg-panel--dark);
}

main,
footer,
header,
input,
select,
button,
label,
div {
    color: var(--font-dark);
    font-size: 1rem;
    font-family: var(--font-family-main);
}

h1,
h2,
h3 {
    font-family: var(--font-family-title);
    color: var(--font-dark);
}

h1 {
    font-size: 2em;
}

body {
    background-color: var(--bg-body);
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

header h1 {
    margin-right: auto;
}

header nav {
    display: flex;
    gap: 10px;
}

header nav a,
header nav button {
    text-decoration: none;
    color: var(--font-dark);
    padding: .7rem 1.2rem;
    background-color: var(--bg-bnt);
    border-radius: 10px;
    border-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav a:hover,
header nav button:hover {
    transition-duration: 400ms;
    background-color: black;
    color: var(--font-light);
    cursor: pointer;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

form input,
form select,
button,
.bnt {
    padding: 4px;
    border-radius: 6px;
    border-style: none;
    margin: 2px;
    background-color: var(--bg-panel);
}

button,
.bnt {
    color: var(--font-dark);
    text-decoration: none;
    background-color: var(--bg-bnt);
}

button:hover,
.bnt:hover {
    cursor: pointer;
    transition-duration: 400ms;
    background-color: black;
    color: var(--font-light);
}

footer {
    text-align: center;
    margin-top: 100px;
    border-top: var(--font-light) solid;
    padding-top: 10px;
}

footer a {
    color: #1d7dab;
    text-decoration: none;
}

.feather-icon {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.panel,
.widget-outer {
    border-radius: 6px;
    background-color: var(--bg-panel);
    padding: 10px;
    margin-bottom: 8px;
}

.widget-heading {
    text-align: center;
}

.form-group {
    border-radius: 10px;
    background-color: var(--bg-sub-body);
    width: 50%;
    margin: auto;
    padding: 10px;
    margin-bottom: 15px;
}

/* flash styles */
.flashes {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.flashes div {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}

.flashes div span {
    margin-left: 15px;
    color: var(--font-light);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.flashes div span:hover {
    color: black;
}

.img-branding {
    margin: auto;
    max-width: 200px;
    width: -webkit-fill-available;
}

.hidden {
    display: none;
}

#theme-picker-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #00000091;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    border: none;
}

#theme-picker-selector button {
    padding: 1rem 2rem;
}

@media(max-width:640px) {

    .form-group {
        width: initial;
    }

    #theme-picker-selector {
        flex-direction: column;
    }

    #theme-picker-selector button {
        min-width: 50%;
    }
}

@media(max-width:500px) {

    header,
    header nav {
        flex-direction: column;
        width: 100%;
    }
}

@media(max-width:490px) {}
