:root {
    --border-radius: 0.75rem;

    --font-family-title: 'Roboto', sans-serif;
    --font-family-main: 'Open Sans', sans-serif;
    --font-dark-no-adjust: black;

    --font-dark--light: var(--font-dark-no-adjust);
    --font-light--light: #f0f0f0;
    --bg-body--light: oklch(1 0 0);
    --bg-sub-1--light: oklch(96.8% 0.007 247.896);
    --bg-sub-2--light: oklch(87.1% 0.006 286.286);
    --bg-btn--light: var(bg-body--light);

    --font-dark--dark: var(--font-light--dark);
    --font-light--dark: #bcbcbc;
    --bg-body--dark: oklch(21% 0.006 285.885);
    --bg-sub-1--dark: oklch(27.4% 0.006 286.033);
    --bg-sub-2--dark: oklch(37% 0.013 285.805);
    --bg-btn--dark: var(--bg-body--dark);

    --bg-btn-primary--dark: oklch(0.3686 0.1296 252.24);
    --bg-btn-primary--light: oklch(0.6 0.1296 252.24);

    --box-shadow-glass--light: inset -1px 1px 3px 0 rgba(0, 0, 0, 0.2), 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    --box-shadow-glass--dark: inset -1px 1px 3px 0 rgba(255, 255, 255, 0.3), 0px 0px 5px 0px rgba(0, 0, 0, 0.4);

    color-scheme: light;
    --font-dark: var(--font-dark--light);
    --font-light: var(--font-light--light);
    --bg-body: var(--bg-body--light);
    --bg-sub-1: var(--bg-sub-1--light);
    --bg-sub-2: var(--bg-sub-2--light);
    --bg-ne: var(--bg-btn--light);
    --bg-btn-primary: var(--bg-btn-primary--light);
    --box-shadow-glass: var(--box-shadow-glass--light);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --font-dark: var(--font-dark--dark);
        --font-light: var(--font-dark--dark);
        --bg-body: var(--bg-body--dark);
        --bg-sub-1: var(--bg-sub-1--dark);
        --bg-sub-2: var(--bg-sub-2--dark);
        --bg-ne: var(--bg-btn--dark);
        --bg-btn-primary: var(--bg-btn-primary--dark);
        --box-shadow-glass: var(--box-shadow-glass--dark);
    }
}

[data-theme=light]:root {
    color-scheme: light;
    --font-dark: var(--font-dark--light);
    --font-light: var(--font-light--light);
    --bg-body: var(--bg-body--light);
    --bg-sub-1: var(--bg-sub-1--light);
    --bg-sub-2: var(--bg-sub-2--light);
    --bg-ne: var(--bg-btn--light);
    --bg-btn-primary: var(--bg-btn-primary--light);
    --box-shadow-glass: var(--box-shadow-glass--light);
}

[data-theme=dark]:root {
    color-scheme: dark;
    --font-dark: var(--font-dark--dark);
    --font-light: var(--font-dark--dark);
    --bg-body: var(--bg-body--dark);
    --bg-sub-1: var(--bg-sub-1--dark);
    --bg-sub-2: var(--bg-sub-2--dark);
    --bg-ne: var(--bg-btn--dark);
    --bg-btn-primary: var(--bg-btn-primary--dark);
    --box-shadow-glass: var(--box-shadow-glass--dark);
}

main,
footer,
header,
input,
textarea,
select,
button,
label,
div {
    color: var(--font-dark);
    font-size: 1rem;
    font-family: var(--font-family-main);
}

h1,
h2,
h3 {
    font-family: var(--font-family-title);
    color: var(--font-dark);
    text-align: center;
}

h1 {
    font-size: 2em;
}

body {
    background-color: var(--bg-body);
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

header h1 {
    margin-right: auto;
}

header nav {
    display: flex;
    gap: 10px;
}

header nav a:hover,
header nav button:hover {
    transition-duration: 400ms;
    background-color: black;
    color: var(--font-light);
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
}

table thead {
    text-align: left;
}

textarea {
    resize: vertical;
}

input,
textarea,
select,
button,
.bnt,
.icon-bnt {
    padding: .4rem 1rem;
    border-radius: var(--border-radius);
    border-style: none;
    margin: .1rem;
    background-color: var(--bg-ne);
    box-shadow: var(--box-shadow-glass);
}

input[type="checkbox"],
input[type="radio"] {
    width: 1rem;
    height: 1rem;
}

input {
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}


button,
.bnt,
.icon-bnt {
    color: var(--font-dark);
    text-decoration: none;
    display: inline-block;
}

button:hover,
.bnt:hover,
.icon-bnt:hover {
    cursor: pointer;
    transition-duration: 400ms;
    background-color: black;
    color: var(--font-light);
}

.icon-bnt {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}

header nav .icon-bnt {
    padding: .7rem 1.2rem;
    margin: 0;
}

footer {
    text-align: center;
    margin-top: 12rem;
    border-top: var(--bg-sub-2) solid .4rem;
    padding-top: 1rem;
}

footer a {
    color: oklch(0.5584 0.1418 235.46);
    text-decoration: none;
}

.feather-icon {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.widget-outer {
    border-radius: var(--border-radius);
    padding: 10px;
    margin-bottom: 8px;
    box-shadow: var(--box-shadow-glass);
}

.widget-heading {
    text-align: center;
}

.panel {
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-glass);
}

.bnt-group {
    gap: .2rem;
    display: flex;
}

table td.bnt-group {
    justify-content: flex-end;
}

/* flash styles */
.flashes {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.flashes div {
    border-radius: var(--border-radius);
    padding: 0.75rem;
    margin-bottom: 0.25rem;
    box-shadow: var(--box-shadow-glass);
}

.flashes div span {
    margin-left: 1rem;
    color: var(--font-light);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.flashes div span:hover {
    color: black;
}

.ok {
    background-color: oklch(0.4974 0.1866 141.51);
    color: var(--font-light);
}

.error {
    background-color: oklch(0.5263 0.2404 26.81);
    color: var(--font-light);
}

.img-branding {
    display: block;
    margin: auto;
    max-width: 200px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}

.login {
    max-width: 500px;
    margin: auto;
}

.hidden {
    display: none;
}

.public-user-warning {
    text-align: center;
}

#theme-picker-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #00000091;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    border: none;
}

#theme-picker-selector button {
    padding: 1rem 2rem;
    background-color: var(--bg-body);
}

#theme-picker-selector button.active {
    background-color: var(--bg-btn-primary);
}

#theme-picker-selector button:hover {
    cursor: pointer;
    transition-duration: 400ms;
    background-color: black;
}

@media(max-width:640px) {

    #theme-picker-selector {
        flex-direction: column;
    }

    #theme-picker-selector button {
        min-width: 50%;
    }

    .hide-on-narrow {
        display: none;
    }
}

@media(max-width:500px) {

    header,
    header nav {
        flex-direction: column;
        width: 100%;
    }
}

@media(max-width:490px) {}
