<option value="no-color" {% if selected_color|default("no-color") == "no-color" %}selected{% endif %}>** No Color **</option>
<optgroup label="Standard">
    {% for color in ("white", "grey", "grey-black", "black", "red", "orange", "yellow", "green", "green-blue", "cyan", "blue", "purple", "pink", "pink-red") %}
    <option value="{{ color }}" {% if selected_color|default("no-color") == color %}selected{% endif %}>{{ color }}</option>
    {% endfor %}
</optgroup>
<optgroup label="Alternatives">
    {% for color in ("red-alt", "orange-alt", "yellow-alt", "green-alt", "green-blue-alt", "cyan-alt", "blue-alt", "purple-alt", "pink-alt", "pink-red-alt") %}
    <option value="{{ color }}" {% if selected_color|default("no-color") == color %}selected{% endif %}>{{ color }}</option>
    {% endfor %}
</optgroup>
