{% extends "/shared/no-nav.jinja" %}
{% block title %}Install{% endblock %}
{% block main %}
<section class="panel">
    <h2>Create Admin User</h2>
    <p>
        This will create the admin user that will allow for administration of Web-Portal.
        You can add more admin accounts in the admin settings (when logged in as an admin).
    </p>
    <form action="{{ url_for('.post_admin_user') }}" method="post">
        <label for="admin-user-username">Username</label>
        <input type="text" name="username" id="admin-user-username" maxlength="128" value="{{ username }}" autocomplete="username" placeholder="e.g. leo" required autofocus>
        <label for="admin-user-password">Password</label>
        <input type="password" name="password" id="admin-user-password" autocomplete="new-password" placeholder="e.g. ••••••••" required>
        <label for="admin-user-password-confirm">Password Confirm</label>
        <input type="password" name="password-confirm" id="admin-user-password-confirm" autocomplete="new-password" placeholder="e.g. ••••••••" required>
        <button type="submit">Next</button>
    </form>
</section>

{% endblock %}
