{% extends "/shared/no-nav.jinja" %}
{% block title %}Install{% endblock %}
{% block main %}
<h2>Welcome to Web-Portal</h2>
<p>
    As this is the first time this app has been run,
    this wizard will guide you through setting up some of the required settings.
</p>
<p>Click the "next" button to continue to the next step.</p>
<a class="bnt" href="{{ url_for('.get_admin_user') }}">Next</a>

{% endblock %}
