{% extends "/shared/base.jinja" %}
{% block title %}My Account{% endblock %}
{% block main %}

<section class="panel">
    <h2>Change Password</h2>
    <form action="{{ url_for('.post_change_password') }}" method="post">
        <label for="current-password">Current Password</label>
        <input type="password" name="current-password" id="current-password" autocomplete="off" placeholder="e.g. ••••••••" required>
        <label for="new-password">New Password</label>
        <input type="password" name="new-password" id="new-password" autocomplete="off" placeholder="e.g. ••••••••" required>
        <label for="confirm-new-password">Confirm New Password</label>
        <input type="password" name="confirm-new-password" id="confirm-new-password" autocomplete="off" placeholder="e.g. ••••••••" required>
        <button type="submit">Change</button>
    </form>
</section>


{% endblock %}
