{% extends "/shared/base.jinja" %}
{% block title %}Dashboard Widget Editor{% endblock %}
{% block main %}
<section class="panel">
    <h2>{{ widget.name }}, {{ widget.widget.internal_name }}</h2>
    <a class="bnt" href="{{ url_for('.get_edit_dashboard') }}">Back</a>
</section>

{{ rendered_editor | safe }}
{% endblock %}
