{% extends "/shared/base.jinja" %}
{% block title %}Settings{% endblock %}
{% block main %}
{% if current_user.is_authenticated_admin %}
<a class="bnt" href="{{ url_for('admin.get_index') }}">Administration</a>
{% endif %}
<a class="bnt" href="{{ url_for('portal.get_plugins_index') }}">Plugins</a>

<div>
    <h2>Dashboard</h2>
    {% if is_personal_dash %}
    <a class="bnt" href="{{ url_for('.get_edit_dashboard') }}">Editor</a>
    <a class="bnt" href="{{ url_for('.get_restore_defaults') }}">Restore To Defaults</a>
    {% else %}
    <a class="bnt" href="{{ url_for('.get_edit_dashboard') }}">Create Custom</a>
    {% endif %}
</div>

{% endblock %}
