{% extends "/shared/base.jinja" %}
{% block title %}Core{% endblock %}
{% block main %}
<p>Welcome to Core, a built-in plugin for Web-Portal.</p>

{% if current_user.is_authenticated_admin %}
<a class="bnt" href="{{ url_for('.get_links_index') }}">Links Management</a>
<a href="{{ url_for('.get_upload_icons') }}" class="bnt">Upload Icons</a>
{% endif %}

{% endblock %}
