{% extends "/shared/base.jinja" %}
{% block title %}Core{% endblock %}
{% block main %}
<a class="bnt" href="{{ url_for('.get_link_new') }}">New</a>
<ul>
    {% for link in links %}
    <li>{{ link.name }}, {{ link.url }}</li>
    {% endfor %}
</ul>

{% endblock %}
