{% extends "/shared/base.jinja" %}
{% block title %}Admin{% endblock %}
{% block main %}
<section class="panel">
    <h2>Menu</h2>
    <a class="icon-bnt" href="{{ url_for('portal.get_plugins_index') }}">{{ macros.feather_img('box') }} Plugins</a>
    <a class="icon-bnt" href="{{ url_for('admin.get_switch_to_guest') }}">{{ macros.feather_img('user') }} Switch To Guest</a>
    <a class="icon-bnt" href="{{ url_for('admin.get_users') }}">{{ macros.feather_img('users') }} Users</a>
</section>

<section class="panel">
    <h2>Import V1 Widgets</h2>
    <form enctype="multipart/form-data" action="{{ url_for('.post_import_v1_widgets') }}" method="post">
        <input type="file" name="file" accept="application/json" aria-label="v1 file to upload" required>
        <button type="submit">Upload</button>
    </form>
</section>
{% endblock %}
