{% extends "/shared/base.jinja2" %}
{% block title %}Admin{% endblock %}
{% block main %}
<div class="form-group">
    <h2>Widget Customisation</h2>
    <form action="{{ url_for('admin.new_widget') }}" method="post">
        <h3>New Widget</h3>
        <label for="new-widget-url">URL</label>
        <input type="text" name="url" id="new-widget-url" required placeholder="https://...">
        <label for="new-widget-prefix">Prefix</label>
        <input type="text" name="prefix" id="new-widget-prefix" required placeholder="prefix...">
        <label for="new-widget-group-id">Group</label>
        <select name="group_id" id="new-widget-group-id">
            {% include "/shared/includes/options-groups.jinja" %}
        </select>
        <label for="new-widget-color-name">Color</label>
        <select name="color_name" id="new-widget-color-name">
            {% include "/shared/includes/options-color.jinja2" %}
        </select>
        <button type="submit">Save</button>
    </form>

    <form action="{{ url_for('admin.new_group') }}" method="post">
        <h3>New Group</h3>
        <label for="new-group-prefix">Prefix</label>
        <input type="text" name="prefix" id="new-group-prefix" required placeholder="prefix...">
        <button type="submit">Save</button>
    </form>

    <form action="{{ url_for('admin.post_delete_group') }}" method="post">
        <h3>Delete Group</h3>
        <label for="delete-group-id">Group</label>
        <select name="group_id" id="delete-group-id" required>
            <option value="">** Select Group **</option>
            {% include "/shared/includes/options-groups.jinja" %}
        </select>
        <button type="submit">Save</button>
    </form>

    <form action="{{ url_for('admin.re_group_widget') }}" method="post">
        <h3>Re-Group Widget</h3>
        <label for="re-group-widget-widget">Widget</label>
        <select name="widget_id" id="re-group-widget-widget" required>
            {% include "/shared/includes/options-widgets.jinja2" %}
        </select>
        <label for="re-group-widget-group">Group</label>
        <select name="group_id" id="re-group-widget-group" required>
            <option value="">** Select Group **</option>
            {% include "/shared/includes/options-groups.jinja" %}
        </select>
        <button type="submit">Save</button>
    </form>

    <form action="{{ url_for('admin.delete_widget') }}" method="post">
        <h3>Delete Widget</h3>
        <label for="delete-widget-widget">Widget</label>
        <select name="widget_id" id="delete-widget-widget" required>
            {% include "/shared/includes/options-widgets.jinja2" %}
        </select>
        <button type="submit">Save</button>
    </form>

    <form action="{{ url_for('admin.change_widget_color') }}" method="post">
        <h3>Widget Color</h3>
        <label for="widget-color-widget">Widget</label>
        <select name="widget_id" id="widget-color-widget" required>
            {% include "/shared/includes/options-widgets.jinja2" %}
        </select>
        <label for="widget-color-name">Color</label>
        <select name="color_name" id="widget-color-name" required>
            {% include "/shared/includes/options-color.jinja2" %}
        </select>
        <button type="submit">Save</button>
    </form>

    <form action="{{ url_for('admin.change_widget_url') }}" method="post">
        <h3>Widget Url</h3>
        <label for="widget-url-widget">Widget</label>
        <select name="widget_id" id="widget-url-widget" required>
            {% include "/shared/includes/options-widgets.jinja2" %}
        </select>
        <input type="text" name="url" id="widget-url-url" required maxlength="255" placeholder="https://...">
        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}
