{% extends "/shared/base.jinja" %}
{% block title %}Core{% endblock %}
{% block main %}
<section class="panel">
    <h2>Upload Format</h2>
    <p>
        Before uploading please follow the below layout.
        Please note if there are any other files/folders they will be skipped.
    </p>
    <pre><code>icons.zip/
    svg/
        example.svg
        ...
    png/
        example.png
        ...</code></pre>
</section>

<section class="panel">
    <h2>Upload Icons</h2>
    <form action="{{ url_for('.post_upload_icons') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="icons-file" accept=".zip" aria-label="zip icon upload" required>
        <button type="submit">Upload</button>
    </form>
</section>

<section class="panel">
    <h2>Manual</h2>
    <p>
        If you have access to the server you may upload them directly,
        this may be required if your zip is too large.
    </p>
    <pre><code>$DATA_PATH/plugins/core/icons/
    svg/
        example.svg
        ...
    png/
        example.png
        ...</code></pre>
</section>

{% endblock %}
