:root {
    --font-dark: black;
    --font-light: white;
    --bg-bnt: #adadad;
    --bg-body: #9299a5;
    --font-family-title: 'Roboto', sans-serif;
    --font-family-main: 'Open Sans', sans-serif;
}

footer,
header {
    font-family: var(--font-family-main);
}

h1 {
    font-family: var(--font-family-title);
    font-size: 2em;
}

body {
    background-color: var(--bg-body);
}

header {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

header h1 {
    margin-right: auto;
}

header nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: var(--font-dark);
    padding: 10px 20px;
    background-color: var(--bg-bnt);
    border-radius: 10px;
}

header nav a:hover {
    transition-duration: 400ms;
    background-color: black;
    color: var(--font-light);
}

footer {
    text-align: center;
    margin-top: 100px;
    border-top-style: solid;
    padding-top: 10px;
}
