:root {
    --font-dark: black;
    --font-light: #f0f0f0;
    --bg-bnt: #adadad;
    --bg-body: #9299a5;
    --bg-sub-body: #8c93a0;
    --bg-panel: #848a94;
    --font-family-title: 'Roboto', sans-serif;
    --font-family-main: 'Open Sans', sans-serif;
}

footer,
header,
input,
select,
button,
label {
    font-family: var(--font-family-main);
}

h1,
h2,
h3 {
    font-family: var(--font-family-title);
}

h1 {
    font-size: 2em;
}

body {
    background-color: var(--bg-body);
}

header {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

header h1 {
    margin-right: auto;
}

header nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: var(--font-dark);
    padding: 10px 20px;
    background-color: var(--bg-bnt);
    border-radius: 10px;
}

header nav a:hover {
    transition-duration: 400ms;
    background-color: black;
    color: var(--font-light);
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

form h3 {
    text-align: center;
}

form input,
form select,
form button {
    padding: 4px;
    border-radius: 6px;
    border-style: none;
    margin: 2px;
    background-color: var(--bg-panel);
}

form button {
    background-color: var(--bg-bnt);
}

form button:hover {
    cursor: pointer;
    transition-duration: 400ms;
    background-color: black;
    color: var(--font-light);
}

footer {
    text-align: center;
    margin-top: 100px;
    border-top-style: solid;
    padding-top: 10px;
}


.panel {
    border-radius: 6px;
    background-color: var(--bg-panel);
    padding: 10px;
    margin-bottom: 8px;
}

.panel h3 {
    text-align: center;
}

.panel div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.panel div a {
    border-radius: 10px;
    padding: 70px;
    text-decoration: none;
    font-family: var(--font-family-title);
    font-size: 1.5em;
    justify-content: center;
    box-shadow: 4px 4px 0px black;
}

.panel div a:hover {
    transition-duration: 400ms;
    background-color: black;
    color: var(--font-light);
}

.form-group {
    border-radius: 10px;
    background-color: var(--bg-sub-body);
    width: 50%;
    margin: auto;
    padding: 10px;
    margin-bottom: 15px;
}

.form-group h2 {
    text-align: center;
}

/* colors for widgets */
.white {
    background-color: #e4e4e4;
    color: var(--font-dark);
}

.grey {
    background-color: #7c7c7c;
    color: var(--font-light);
}

.grey-black {
    background-color: #292929;
    color: var(--font-light);
}

.black {
    background-color: #000000;
    color: var(--font-light);
}

.red {
    background-color: #c24141;
    color: var(--font-light);
}

.orange {
    background-color: #b96f32;
    color: var(--font-light);
}

.yellow {
    background-color: #bbca2d;
    color: var(--font-dark);
}

.green {
    background-color: #3c9630;
    color: var(--font-light);
}

.green-blue {
    background-color: #309663;
    color: var(--font-light);
}

.cyan {
    background-color: #36aace;
    color: var(--font-black);
}

.blue {
    background-color: #4175b9;
    color: var(--font-light);
}

.purple {
    background-color: #5d2aaf;
    color: var(--font-light);
}

.pink {
    background-color: #aa2aaf;
    color: var(--font-light);
}

.pink-red {
    background-color: #af2a7c;
    color: var(--font-light);
}
